body{
    background-color: aqua;
    
}

.mother{
        width: max-content;
        height: max-content;


.groot{
    background-color: blanchedalmond;
    margin: auto;
}

.gurdianOfGallaxy{
    color: blueviolet;
    background-color: azure;
    padding: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.done{
background-color: rgb(64, 64, 11);
margin: 50px; 
padding: 30px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

img{border-radius: 50;
    float:left; 
    margin-right:auto;
    height:100px;
    width: 100px;

}